.ez-player {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.ez-player-placeholder {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border: 0;
}

.ez-player-picture {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform .2s ease;
}

.ez-player:hover .ez-player-picture {
  transform: scale(1.03, 1.03);
}

.ez-player-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.ez-player-duration {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}

.ez-player-header {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.ez-player-title {
  padding: 0 15px;
  height: 50px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.ez-player-title a {
  color: #fff;
}

.ez-player-button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23000' fill-opacity='0.5' /%3E%3Cpath d='M396 238L184 116c-2-2-5-3-8-3-8 0-15 7-15 15v254c0 8 7 14 15 14l9-2 211-122c5-4 8-10 8-17s-3-13-8-17z' fill='%23eee' /%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 10;
}

.ez-player-placeholder:hover .ez-player-button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23000' fill-opacity='0.5' /%3E%3Cpath d='M396 238L184 116c-2-2-5-3-8-3-8 0-15 7-15 15v254c0 8 7 14 15 14l9-2 211-122c5-4 8-10 8-17s-3-13-8-17z' fill='%23fff' /%3E%3C/svg%3E");
}

.ez-player-logo {
  display: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 30;
  position: absolute;
}

.ez-domain-youtube_com .ez-player-logo {
  display: block;
  top: 10px;
  left: 13px;
  height: 30px;
  width: 30px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' width='835' height='1000' viewBox='-2 0 834.53047 999.89111'%3E%3Cpath fill='%23fff' fill-opacity='0.5' d='M-2 719c0-34 2-87 6-156 2-34 15-62 37-84 21-21 49-33 84-35 64-3 161-5 291-5 129 0 226 2 291 5 34 2 62 14 84 35 22 22 34 50 37 84 3 58 5 110 5 156 0 47-2 99-5 157-3 34-15 62-37 84-22 21-50 33-84 35-65 3-162 5-291 5-130 0-227-2-291-5-34-2-63-14-84-35-22-22-35-50-37-84-4-70-6-122-6-157zm65-136h59v315h57V583h59v-53H63v53zM126 0h58l36 147h4L259 0h58l-44 143-23 73v152h-57V222l-5-24-9-26-8-24L126 0zm112 856c0 31 11 46 35 46 20 0 40-11 59-34v30h50V627h-50v207c-14 13-24 20-30 20-9 0-14-6-14-18V627h-50v229zm76-556V159c0-22 7-39 21-51 15-12 33-18 55-18 21 0 38 6 51 19 14 13 20 30 20 52v140c0 23-6 41-19 54-13 14-31 20-54 20s-41-7-54-21c-13-13-20-32-20-54zm52 7c0 14 8 22 22 22s22-8 22-24V157c0-6-2-11-7-15-4-4-10-6-15-6-6 0-11 2-15 6-5 3-7 8-7 14v151zm65 591h51v-20c13 16 29 24 49 24 30 0 45-20 45-60V691c0-45-16-68-49-68-16 0-31 8-45 26V530h-51v368zm51-51V677c8-7 15-11 22-11 14 0 21 9 21 27v143c0 16-6 24-18 24-9 0-17-5-25-13zm23-521V97h50v208c0 12 4 18 14 18 8 0 18-7 29-20V97h51v271h-51v-30c-18 23-38 34-59 34-23 0-34-15-34-46zm110 496c0 24 6 45 18 60 13 16 31 24 55 24 51 0 76-28 76-84v-20h-52v29l-3 13c-1 5-3 9-6 11-3 3-8 4-14 4-14 0-22-13-22-39v-51h97v-70c0-24-6-44-18-58s-30-21-55-21c-23 0-41 7-55 22s-21 34-21 57v123zm52-96v-29c0-20 8-30 22-30 15 0 23 10 23 30v29h-45z'/%3E%3C/svg%3E");
}

.ez-domain-youtube_com .ez-player-title {
  padding-left: 50px;
}

.ez-domain-vimeo_com .ez-player-logo {
  display: block;
  top: 12px;
  left: 13px;
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' width='1146' height='1000' viewBox='0 0 1145.9999 1000'%3E%3Cpath fill='%23fff' fill-opacity='0.5' d='M0 272c37-43 73-82 110-116s68-60 95-77c27-18 52-33 73-43 21-11 37-19 48-22l17-4 24-2c13 0 24 2 35 6 17 7 31 18 42 34 11 17 21 35 29 56 9 20 16 44 22 72l15 77 13 79c5 29 10 53 15 71 21 83 38 142 51 177s27 53 42 53c16 0 38-19 66-55 29-38 60-88 94-152 17-32 26-62 26-91l-2-23c-6-35-23-56-51-65-7-3-15-4-24-4-23 0-51 9-83 26 15-87 59-156 134-209C848 20 906 0 965 0l24 1c68 5 114 35 139 90 12 25 18 55 18 88 0 19-2 40-6 61-12 68-35 137-70 208-34 71-72 133-112 188-41 54-86 106-133 155s-88 87-123 117c-35 29-66 51-91 68-28 16-54 24-79 24-24 0-47-7-69-21s-41-30-56-48-28-37-38-57c-12-25-45-125-98-298-53-174-85-268-96-281l-4-4-14-4c-7-2-15-2-24 0-9 1-21 6-36 14-15 7-32 18-50 32L0 272z'/%3E%3C/svg%3E");
}

.ez-domain-vimeo_com .ez-player-title {
  padding-left: 47px;
}
