.ez-player-preview {
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ez-player-duration {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}

.ez-player-header {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.ez-player-title {
  padding: 0 15px;
  height: 50px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.ez-player-title a {
  color: #fff;
}

.ez-player-button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23000' fill-opacity='0.5' /%3E%3Cpath d='M396 238L184 116c-2-2-5-3-8-3-8 0-15 7-15 15v254c0 8 7 14 15 14l9-2 211-122c5-4 8-10 8-17s-3-13-8-17z' fill='%23eee' /%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 10;
}

.ez-player-preview:hover .ez-player-button {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23000' fill-opacity='0.5' /%3E%3Cpath d='M396 238L184 116c-2-2-5-3-8-3-8 0-15 7-15 15v254c0 8 7 14 15 14l9-2 211-122c5-4 8-10 8-17s-3-13-8-17z' fill='%23fff' /%3E%3C/svg%3E");
}